In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
import _pickle as c
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB

In [15]:
def save(clf, name):
    # Saves the model at the end
    with open(name, 'wb') as fp:
        c.dump(clf, fp)
    print("saved")

In [16]:
def load(file_name):
    # Used for reading the data from the file having the data
    with open(file_name, 'rb') as f:
        clf = c.load(f)
    return clf

In [17]:
df = pd.read_csv("C:/Users/Hp/Desktop/cloud/RICE-DATASET.csv")
print(df.head())

   Soil Moisture  Temperature  Humidity  Time Status
0             54           22        70    21     ON
1             12           20        40   104    OFF
2             34           26        35    62     ON
3              7           44        44    93    OFF
4             50           38        23    92    OFF

In [18]:
encoder1 = preprocessing.LabelEncoder()
df['Status'] = encoder1.fit_transform(df['Status'])
df.head()

   Soil Moisture  Temperature  Humidity  Time  Status
0             54           22        70    21       1
1             12           20        40   104       0
2             34           26        35    62       1
3              7           44        44    93       0
4             50           38        23    92       0

In [19]:
X = df.iloc[:, 0:4]
Y = df.iloc[:, 4]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)
X_train.head()

       Soil Moisture  Temperature  Humidity  Time
80630             47           30        49    95
62017             21            7        21    52
5005              13           41        20    65
56849             84            8        36    20
42434             71           42        25     5

In [22]:
Y_train

80630    0
62017    0
5005     1
56849    0
42434    0
        ..
50057    1
98047    0
5192     0
77708    1
98539    1
Name: Status, Length: 70000, dtype: int32

In [23]:
model = RandomForestClassifier(n_estimators=20, criterion="entropy")#max_depth=15
model.fit(X_train, Y_train)
save(model, "C:/Users/Hp/Desktop/cloud/model.mdl")

saved

In [24]:
clf = load("C:/Users/Hp/Desktop/cloud/model.mdl")

In [25]:
y_pred= clf.predict(X_test)
y_pred

array([0, 0, 1, ..., 1, 0, 0])

In [26]:
accuracy=metrics.accuracy_score(Y_test,y_pred)
accuracy

0.9996333333333334